<div class="iteam-container">

  <h1>New Iteam</h1>

  <%= form_with scope: :iteam, url: iteams_path, local: true do |form| %>

  <% if @iteam.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@iteam.errors.count, "error") %> prohibited
      this iteam from being saved:
    </h2>
    <ul>
      <% @iteam.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.label :status %><br>
    <%= form.select :status, [['Please select an option'], 'Progress', 'Done'] %>
  </p>
  
  <p>
    <%= form.submit %>
  </p>

  <% end %>
      
  <%= link_to 'Back', iteams_path %>
</div>